*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato;
}

.body {
    background-color: white;
}

.container {
    align-items: center;
    margin-left: 36.5%;
    margin-top: 4%;
    width: 320px;
    height: 500px;
    background-color: rgb(231, 231, 231);
    border: solid black;
    animation-name: container;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.avatar {
    margin-top: 5%;
    margin-left: 17%;
    width:  200px;
    height: 200px;
    border-radius: 50px;
    border: solid rgba(170, 2, 2, 0.227);
}

.n1 {
    margin-right: 5%;
    text-align: center;
}

.github {
    margin-top: 8%;
    margin-left: 27%;
    width:  30px;
    height: 30px;
}

.discord {
    margin-top: 8%;
    margin-left: 4%;
    width:  30px;
    height: 30px;
}

.twitter {
    margin-top: 8%;
    margin-left: 5%;
    width:  30px;
    height: 30px;
}

@keyframes btn1 {
    from{border: solid greenyellow}
    to{border: solid green}
}

@keyframes container {
    from{border: solid black}
    to{border: solid rgb(209, 209, 209)}
}