*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Lato;
}

.body {
    background-color: white;
}

.container {
    margin-top: 4%;
    margin-left: 36%;
    width: 320px;
    height: 500px;
    background-color: rgb(231, 231, 231);
}

.avatar {
    margin-top: 5%;
    margin-left: 17%;
    width:  200px;
    height: 200px;
}

.n1 {
    margin-right: 5%;
    text-align: center;
}

.github {
    margin-top: 8%;
    margin-left: 20%;
    width:  50px;
    height: 50px;
}

.discord {
    margin-top: 8%;
    margin-left: 4%;
    width:  50px;
    height: 50px;
}

.twitter {
    margin-top: 8%;
    margin-left: 5%;
    width:  50px;
    height: 50px;
}